<div class="point" style="left: 82px;
top: 97px; position:absolute">
    <h3> Opportunity Finder</h3>
</div>
<div class="save">
    <button>Save Filter</button>
    <button style="position: absolute;  
    left: 1040px; top: 120px;">Load Filter</button>
</div>
<hr style="position: absolute;

left: 2px;
top: 142px;

">
<div class="country">
    <ul>
        <li> United States </li>
        <li> United States </li>
        <li> United States </li>
        <li> United States </li>
        <li> United States </li>
        <li> United States </li>
        <li> United States </li>
    </ul>
</div>
<hr style="position: absolute;

left: 2px;
top: 300px;

">
<span>Categories</span>
<div class="form">

    <ul>
        <li> <input type="checkbox" id="check">
            Select All</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
    </ul>

</div>
<div class="list">
    <ul>

        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
        <li> <input type="checkbox" id="check">
            Appliances</li>
    </ul>
</div>
<hr style="position: absolute;
left: 2px;
top: 565px;
">
<label><input type="checkbox" id="check">
    Oversize</label>
<hr style="position: absolute;
left: 2px;
top: 620px;">
<div class="average" style="left: 131px;
top: 670px; position:absolute">
    <h3>Average Monthly units sold</h3>

</div>
<div class="avg">
    <input type="text" placeholder="Min" style="left: 410px;
    top: 660px; position:absolute">
    <input type="text" placeholder="Max" style="left: 410px;
    top: 700px; position:absolute">
</div>