<div class="rectangle">
    <div class="list">
        <ul>
            <li> India </li>
            <li>India</li>
            <li>India</li>
            <li>India</li>
            <li>India</li>
            <li>India</li>

        </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Search by ASIN">
        <button>Search</button>
    </div>
    <div class="listing">
        <div class="img1">
            <img src="assets/circle.jpg" style="width: 90px;
            height: 90px;">
        </div>
        <div class="img2">
            <img src="assets/five.png" style="width: 22px;
            height: 34px;">
        </div>
        <div class="optimization">
            <h1>Listing Optimization Score</h1>
            <p>akdjniebrenddskibgiwreanesroibivdsnigo
                dijvoireht9bfdihyrg8eih</p>
        </div>
    </div>
    <div class="para">
        <ul>
            <li style="left: 20px;
            top: 5px;
            
             position:absolute; ">Details</li>
            <li style="left: 200px;
            top: 5px;
            position: absolute;
            
            ">Current</li>
            <li style="left: 395px;
            top: 5px;
            position:absolute;
            
            ">Recommendation</li>
        </ul>
        <h3 style="left: 30px;
        top: 40px; position:absolute;">Product Title</h3>
        <h3 style="left: 400px;
        top: 40px; position:absolute; font-size: 12px;">Title should be between 100-200 charecters</h3>
        <h3 style="left: 30px;
        top: 100px; position:absolute;">Product Features</h3>
        <h3 style="left: 400px;
        top: 100px; position:absolute;">Minimum 5 features</h3>
    </div>
</div>