<div class="para">
    <div class="heading">
        <h1>Upgrade to get full
            access!</h1>
        <p>Our tools will work together to boost
            your productivity
        </p>
    </div>
    <div class="explore">
        <button>Explore new plans</button>
    </div>
    <h2>Keep my
        plan</h2>
</div>
<hr style="position: absolute;
width: 1295px;
height: 0px;
left: 2px;
top: 304px;

border: 1px solid #949494">
<span>Product Tracker</span>
<div class="search">
    <label>
        <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i></button>
        <input type="search" placeholder="search">
        <button type="submit"> <i class="fa fa-microphone" aria-hidden="true"></i></button>
    </label>
</div>
<hr style="position: absolute;
width: 1307px;
height: 0px;
left: 2px;
top: 395px;

border: 1px solid #949494;">
<div class="group"><span style="position: absolute;
    width: 75px;
    height: 24px;
    left: 33px;
    top: 439px;">Overview</span>
</div>
<hr style="position: absolute;
width: 1000px;
height: 0px;
left: 290px;
top: 481px;

border: 1px solid #000000;
">
<div class="rectangle">
    <span>Ungrouped(0)</span>
    <span style="left: 520px;
    top: 465px; position:absolute">Spoon(0)</span>
    <div class="add" style="font-size:20px ; font-weight:600; color:white; text-align:center;line-height:38px">+</div>
</div>
<span style="left: 109px;
top: 500px; position:absolute;color: #5E5E5E;">All Group</span>
<hr style="position: absolute;
width: 1307px;
height: 0px;
left: 2px;
top: 541px;
border: 1px solid #000000;">
<table id="customers" style="left: 2px;
top: 590px; position:absolute;">
    <tr>
        <th>Group Info</th>
        <th>Avg Price</th>
        <th>Avg Fees</th>
        <th>Avg Net</th>
        <th>Avg Daily Sales</th>
        <th>Avg Daily Revenue</th>
        <th>Avg Daily Rank</th>

    </tr>
    <div class="bottom">
        <span style="left: 185px;
        top: 86px; position:absolute">spoon</span>
        <span style="left: 786px;
        top: 86px; position: absolute;">Add Products to this group to see aggregate data.</span>
    </div>
    <hr style="position: absolute;
    width: 1307px;
    height: 0px;
    left: 2px;
    top: 130px;
    
    border: 1px solid #000000;
    ">