<body>
    <div class="rectangle">
        <h3>Category Trends</h3>
        <hr style="left: 1px;
    top: 36px; position:absolute;width: 850px;
height: 0px;">
        <img src="assets/usa.png">
        <div class="list" style="position: absolute;
    width: 246px;
    height: 38px;
    left: 211px;
    top: 69px;
    list-style-type: none; ">
            <li style="
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
      color: #000000;">List:<input type="text" id="sellers" placeholder="Amazon Best Sellers" style="box-sizing: border-box;
width: 201px;
height: 38px;
border: 1px solid #5E5E5E;
border-radius: 3px;"> </li>
        </div>
        <div class="date" style="position: absolute;
    width: 257px;
    height: 38px;
    left: 495px;
    top: 70px;list-style-type: none;">
            <li style="font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        
        
        
        color: #000000;
        ">Date: <input type="text" placeholder="June 20 2022" style="box-sizing: border-box;

           
            width: 201px;
            height: 38px;
           
            
            border: 1px solid #5E5E5E;
            border-radius: 3px;"></li>
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>May 21</th>

                <th>May 22</th>
                <th>May 23</th>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>
            <tr>
                <td>#1<img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
                <td><img src="assets/pic.png"> </td>
            </tr>

        </table>

    </div>
    <div class="category">
        <ul>
            <li style="font-weight:600;font-size: 16px; color: black;">Select Category</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
            <li>Apps & Games</li>
        </ul>
    </div>
    <hr style="position: absolute;
width: 800px;
height: 0px;
left: 560px;
top: 445px;

border: 1px solid #000000;
transform: rotate(90deg);">
    <div class="country">
        <img src="assets/usa1.png">
        <h3>No data is available for this ASIN</h3>
        <p>Amazon does not provide ranking
            data for this product </p>
    </div>
</body>