<div class="rectangle">
    <h3>Category Trends</h3>
    <hr style="left: 1px;
    top: 39px; position:absolute;width: 850px;
height: 0px;">
    <img src="assets/usa.png">
    <div class="list" style="position: absolute;
    width: 246px;
    height: 38px;
    left: 311px;
    top: 79px;
    list-style-type: none; ">
        <li style="position: absolute;
        
        left: 20px;
        top: 10px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        
        /* identical to box height */
        
        
        color: #000000;">List:<input type="text" id="sellers" placeholder="Amazon Best Sellers" style="box-sizing: border-box;

position: absolute;
width: 201px;
height: 38px;
left: 36px;


border: 1px solid #5E5E5E;
border-radius: 3px;"> </li>
    </div>
    <div>
        <li>Date: <input type="text" placeholder="June 20 2022"></li>
    </div>
</div>