<div class="head">
    <h1>Amazon Sales Estimator</h1>
    <p>kjkwehfiuerinvidsikndriehahiehrieriheigihirehi</p>
</div>
<div class="rectangle">
    <div class="sales">
        <h1>Amazon Marketplace That your products are
            sold in (US, EU,etc.)</h1>
        <h1 style="position: absolute;
        width: 385px;
        height: 42px;
        left: 22px;
        top: 235px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        
        color: #5E5E5E;
        ">Amazon product category that category your products
            are listed as (Kitchen/Dinning, Toys, etc.)</h1>
    </div>
    <div class="category">
        <input type="text" placeholder="Choose a category">
    </div>
    <hr style="position: absolute;
    width: 468px;
    height: 0px;
    left: 175px;
    top: 217px;
    
    border: 1px solid #949494;
    transform: rotate(90deg);">
</div>
<div class="limit">
    <h1>Limit is Reached</h1>
    <p>You have reached your limit of
        0 estimates per month.</p>
</div>