<div class="para">
    <div class="heading">
        <h1>Upgrade to get full
            access!</h1>
        <p>Our tools will work together to boost
            your productivity
        </p>
    </div>
    <div class="explore">
        <button>Explore new plans</button>
    </div>
    <h2>Keep my
        plan</h2>
</div>
<div class="pic">
    <img src="assets/tagss.png">
</div>
<div class="source">
    <h1>Source your product</h1>
    <p>Find the perfect supplier to help bring your product ideas to life.</p>
</div>
<div class="list">
    <ul style="list-style-type: none;">
        <li style="left: 240px;
        top: 635px; position:absolute">Search by:</li>
        <li style="left: 390px;
        top: 635px; position:absolute;color: #0076FF;">Product</li>
        <li style="left: 570px;
        top: 635px; position:absolute">Company</li>
        <li style="left: 720px;
        top: 635px; position:absolute">Supplier</li>
        <li style="left: 890px;
        top: 635px; position:absolute">ASIN</li>
    </ul>
</div>
<div class="search">
    <input type="search" placeholder="Enter A Product">
    <button>Search</button>
</div>