<div class="heading">
    <h1> Hello,Mohamed! Propel your seller's journey with these tools and more.</h1>
</div>
<div class="insight">
    <img src="assets/insight.png">
</div>
<div class="junglescout">
    <h1>Accelerate Your Jungle Scout
        Membership</h1>
    <p>Connect your Amazon seller account to uneekli to unlock key data about your business. Once you do, we'll
        be able to show you your sales, calculate your true profits, and help you track your inventory.</p>
</div>
<div class="rectangle">
    <h1>News & Updates</h1>
    <div class="box-1">
        <h1>Product Update</h1>
        <p>saccccdreeegadsssssgggggvvvewrgr</p>
    </div>
    <div class="box-2">
        <h1>Product Update</h1>
        <p>saccccdreeegadsssssgggggvvvewrgr</p>
    </div>
    <h1 style="position: absolute;
    width: 176px;
    height: 21px;
    left: 11px;
    top: 280px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 106%;
    /* or 21px */
    
    
    color: #4F4F4F;">Upcoming Events</h1>
    <div class="box-3">
        <h1>Product Update</h1>
        <p>saccccdreeegadsssssgggggvvvewrgr</p>
    </div>
    <div class="box-4">
        <h1>Product Update</h1>
        <p>saccccdreeegadsssssgggggvvvewrgr</p>
    </div>
</div>